.MainBanner {
    height: 75vh;
}

.header {
    text-align: center;
    margin: 10vh;
}

.book-row {
    margin: 3vh;
}

.section-header {
    margin: 5vh;
    font-family: 'Acme';
    background-color: lavender;
}