.Landing {
  text-align: center;
}

.mainText {
  font-family: 'Acme';
  margin: 10vh;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.contactMethod {
  font-family: 'Acme';
}

.imageStyles {
  width: 5vh;
}

#modal {
  margin-bottom: 10vh;
}