.Landing {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}


#mainTitle {
  font-family: "Acme";
}

#secondaryText {
  font-family: "Acme";
}

.button {
  font-family: "Acme";
}

.headerText {
  font-family: "Acme";
}

.text-primary {
  font-family: "Acme";
}

.text-success {
  font-family: "Acme";
}

.text-warning {
  font-family: "Acme";
}

.mr-1 {
  font-family: "Acme";
}

.mt-4 {
  font-family: "Acme";
}

#sectionHeading {
  font-family: "Acme";
}

#beliefs {
  font-family: "Acme";
}

