.Landing {
  text-align: center;
  font-family: Acme;
}

.main-Title {
  position: relative;
}

.banner {
  background-image: url('../img/website-image.png');
}

.problem {
  margin-top: 100px;
  margin-bottom: 100px;
}

.newsletter {
  margin-bottom: 100px;
}

