.Landing {
  text-align: center;
}

.about-para {
  font-family: 'Acme';
  margin: 10vh;
  text-align: center;
}

#header {
  color:#AC3791;
}

#main-description {
  font-family: 'Acme';
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.team-image {
  width: 40vh;
  border-radius: 50%;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.team-pictures {
  font-family: 'Acme';
  text-align: center;
}