.MainBanner {
  height: 75vh;
}

.header {
  font-family: Acme;
  text-align: center;
  margin: 10vh;
}

.book-row {
  margin: 3vh;
}

.section-header {
  margin: 5vh;
  font-family: 'Acme';
  background-color: lavender;
}

.pagination {
  justify-content: center;
  font-family: 'Acme';
}
.the-diversity {
  color: #ac3971;
}

li .the-miscell {
  background-color: #ac3971 !important;
}

.the-friendship {
  color: #ac3971;
}
