.Landing {
  text-align: center;
}

.mainText {
  font-family: 'Acme';
  margin: 10vh;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.contactMethod {
  font-family: 'Acme';
}

.imageStyles {
  width: 5vh;
  margin-right: 30px;
  margin-bottom: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#learn-more {
  font-family: Acme;
  font-size: 150%;
}

#input {
  font-family: Acme;
}

.imageStyles {
  max-height: 150px;
  max-width: 200px;
  width: 120px;
  height: 120px;
}

.methodLabel {
  font-family: Acme;
}

#modal {
  margin-bottom: 10vh;
  font-family: 'Acme';
}

#contactBackground {
  background-image: url("../img/website-image-edit.png");
  background-position: center;
  margin-top: 0vh;
  height: 170px;
}

#contactText {
  font-family: Acme;
  color: white;
  text-align: center;
  padding-top: 70px;
}

.social_media {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.contactMethod {
  margin-right: 40px;
}
