.form-page {
  width: 100%;
  min-height: 800px;
}

.form {
  margin: 10px auto;
  max-width: 350px;
}

.form-blog {
  margin: 10px auto;
  max-width: 800px;
}

.markdown-container {
  max-width: 800px;
  margin: 0px auto;
}

.markdown-container > .react-mde > .mde-header > .mde-tabs > button {
  color: black;
}

.mde-header-item > button{
  max-width: 30px;
}

.need-login-message {
  margin: 100px auto;
  max-width: 350px;
}

.success-message {
  margin: 5px auto;
  padding: 10px;
}

.error {
  color: red;
}
