@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
.Landing {
  text-align: center;
  font-family: Acme;
}

.Recomm-topic{
  width: 150px;
  height: 150px;
}
.the-title{
  font-family: 'Roboto', sans-serif ;
  font-size:65px;
  font-weight: bold;
  color:#970065;
}
.title-paragraph{
  font-family: 'Roboto', sans-serif ;
  font-weight: 400;
  color:white;
  
}
#mainTitle {
  color: #ac3791;
  font-size: 60pt;

  text-shadow: 0px 3px 3px #dcabb3;
}

#sectionHeading {
  color: #ac3791;
  font-family: Acme;
  text-align: center;
}

#secondaryText {
  color: white;
  margin-bottom: 30px;
}

.bannerStyles {
  flex-shrink: 0;
  width: 240%;
  overflow: hidden;
  opacity: 75%;
  height: auto;
  background-size: cover;

  width: 100%;
  height: 110%; 
}

.container-landing-element{
  position: absolute;
  overflow: hidden;
  width: 100%;

  height: 50% ;
  margin-left: 100px;
  margin-top: 40px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
   align-items: flex-start;
}

button {
  display: inline-block;
  font-family: 'Roboto', sans-serif ;
  font-weight: 400;
  border-radius: 12px;
  background-color: #ac2868;
  border: solid .1px;
  color: #ffeefbf6;
  text-align: center;
  font-size: 14px;
  padding: 8px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 }
 button:hover{
   background-color: rgb(184, 46, 180);
 }
 button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
 }
 
 button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
 }
 
 button:hover span {
  padding-right: 15px;
 }
 
 button:hover span:after {
  opacity: 1;
  right: 0;
 }


/* .button {
  border-radius: 1000px !important;
  min-width: 150px !important;
} */
/* 
.button:hover{
  background-color: white !important;
  color: #ac3791 !important;
  border: none;
} */

/* .backgroundBanner {
  background-image: url('../img/bannervideo.gif');
  background-size: contain;
  width: 1440px;
  height: 811px;
  background-position-x: 100vw;
  opacity: 75%;
} */

@media only screen and (min-width: 1440px) {
  .backgroundBanner {
    background-position-x: 0;
  }
}

@media only screen and (min-width: 2000px) {
  .backgroundBanner {
    margin-left: 20%;
  }
}

@media only screen and (min-width: 2500px) {
  .backgroundBanner {
    margin-left: 35%;
  }
}

@media only screen and (min-width: 3000px) {
  .backgroundBanner {
    margin-left: 55%;
  }
}

@media only screen and (min-width: 3500px) {
  .backgroundBanner {
    margin-left: 70%;
  }
}

@media only screen and (min-width: 4000px) {
  .backgroundBanner {
    margin-left: 90%;
  }
}

.left {
  display: flex;
  text-align: left;
}

.Contact {
  margin-bottom: 40px;
}

.background_container {
  background-color: aqua !important;
}
/* 
.button {
  padding: 10px;

  font-family: Acme;
  color: white;
  min-width: 200px;
  min-height: 50px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  background: #ac3791;
  background: linear-gradient(90deg, #ac3791 #ac3791);
  border: none;
  border-radius: 1000px;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  border: 1px solid white;
}

.button::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(200px + 12px);
  min-height: calc(50px + 12px);
  border: 1px solid #ac3791;
  box-shadow: 0 0 60px #ac3791;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus {
  transform: translateY(-6px);
  background-color: #ac3791;
  color: white;
}

.button:hover::before,
.button:focus::before {
  opacity: 0.25;
}

.button::after {
  content: '';
  border-radius: 100%;
  border: 6px solid #ac3791;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 3.5s infinite;
  background-color: #ac3791;
}

.button:hover::after,
.button:focus::after {
  animation: none;
  display: none;
} */

.imageStyles {
  width: 10%;
  height: 10%;
}

.methodLabel {
  color: black;
}

a:link {
  text-decoration: none;
}
