.navbar-main {
  background-color: #AC3791;
}

.nav-link {
  color: white !important;
  text-decoration: none;
  font-family: 'Acme' !important;
  font-size: 3vh !important;
}

.nav-link-active {
  color: white !important;
  text-decoration: none;
  font-family: 'Acme' !important;
}

.logo {
  margin-left: -1.8rem;
  padding-right: 20rem;
}