:root {
    --blue: #5e72e4;
    --indigo: #5603ad;
    --purple: #8965e0;
    --pink: #f3a4b5;
    --red: #f5365c;
    --orange: #fb6340;
    --yellow: #ffd600;
    --green: #2dce89;
    --teal: #11cdef;
    --cyan: #2bffc6;
    --white: #fff;
    --gray: #8898aa;
    --gray-dark: #32325d;
    --light: #ced4da;
    --lighter: #e9ecef;
    --primary: #ac3971;
    --secondary: #f4f5f7;
    --success: #2dce89;
    --info: #11cdef;
    --warning: #fb6340;
    --danger: #f5365c;
    --light: #adb5bd;
    --dark: #212529;
    --default: #172b4d;
    --white: #fff;
    --neutral: #fff;
    --darker: black;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

*,
*::before,
*::after {
    box-sizing: border-box; }

.position-relative {
    position: relative !important;
    width: 100vw;
    height: 100vh;
}

.position-relative video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

.section {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem; }

.section-lg {
    padding-top: 6rem; }

@media (min-width: 768px) {
    .section-hero {
        min-height: 500px; } }
    
    .section-shaped {
    position: relative;
    overflow: hidden;
    height: 100vh; }
    .section-shaped.section-hero:before {
        top: 680px; }
    .section-shaped .stars-and-coded {
        margin-top: 8rem; }
    .section-shaped .shape {
        position: absolute;
        top: 0; }
        .section-shaped .shape span {
        position: absolute; }
        .section-shaped .shape + .container {
        position: relative;
        height: 100%; }
        .section-shaped .shape.shape-skew + .container {
        padding-top: 0; }
        .section-shaped .shape.shape-skew + .container .col {
            margin-top: -100px; }
        .section-shaped .shape.shape-skew + .shape-container {
        padding-top: 18rem;
        padding-bottom: 19rem; }
    .section-shaped .shape-skew {
        transform: skewY(-4deg);
        transform-origin: 0; }
        .section-shaped .shape-skew span {
        transform: skew(4deg); }
    .section-shaped .shape-primary {
        background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%); }
        .section-shaped .shape-primary :nth-child(1) {
        background: #53f; }
        .section-shaped .shape-primary :nth-child(2) {
        background: #4553ff; }
        .section-shaped .shape-primary :nth-child(3) {
        background: #4f40ff; }
        .section-shaped .shape-primary :nth-child(4) {
        background: #25ddf5; }
        .section-shaped .shape-primary :nth-child(5) {
        background: #1fa2ff; }
    .section-shaped .shape-default {
        background: linear-gradient(150deg, #7795f8 15%, #6772e5 70%, #555abf 94%); }
        .section-shaped .shape-default :nth-child(1) {
        background: #7795f8; }
        .section-shaped .shape-default :nth-child(2) {
        background: #7b9aff; }
        .section-shaped .shape-default :nth-child(3) {
        background: #6f8ff8; }
        .section-shaped .shape-default :nth-child(4) {
        background: #76eea7; }
        .section-shaped .shape-default :nth-child(5) {
        background: #6adaff; }
    .section-shaped .shape-light {
        background: linear-gradient(150deg, shapes-light-color("step-1-gradient-bg") 15%, shapes-light-color("step-2-gradient-bg") 70%, shapes-light-color("step-3-gradient-bg") 94%); }
        .section-shaped .shape-light :nth-child(1) {
        background: shapes-light-color("span-1-bg"); }
        .section-shaped .shape-light :nth-child(2) {
        background: shapes-light-color("span-2-bg"); }
        .section-shaped .shape-light :nth-child(3) {
        background: shapes-light-color("span-3-bg"); }
        .section-shaped .shape-light :nth-child(4) {
        background: shapes-light-color("span-4-bg"); }
        .section-shaped .shape-light :nth-child(5) {
        background: shapes-light-color("span-5-bg"); }
    .section-shaped .shape-dark {
        background: linear-gradient(150deg, #32325d 15%, #32325d 70%, #32325d 94%); }
        .section-shaped .shape-dark :nth-child(1) {
        background: #2e2e57; }
        .section-shaped .shape-dark :nth-child(2) {
        background: #2b2b58; }
        .section-shaped .shape-dark :nth-child(3) {
        background: #25254d; }
        .section-shaped .shape-dark :nth-child(4) {
        background: #d782d9; }
        .section-shaped .shape-dark :nth-child(5) {
        background: #008169; }
    .section-shaped .shape-style-1 span {
        height: 120px;
        width: 120px;
        border-radius: 50%; }
    .section-shaped .shape-style-1 .span-200 {
        height: 200px;
        width: 200px; }
    .section-shaped .shape-style-1 .span-150 {
        height: 150px;
        width: 150px; }
    .section-shaped .shape-style-1 .span-100 {
        height: 100px;
        width: 100px; }
    .section-shaped .shape-style-1 .span-75 {
        height: 75px;
        width: 75px; }
    .section-shaped .shape-style-1 .span-50 {
        height: 50px;
        width: 50px; }
    .section-shaped .shape-style-1 :nth-child(1) {
        left: -4%;
        bottom: auto;
        background: rgba(255, 255, 255, 0.1); }
    .section-shaped .shape-style-1 :nth-child(2) {
        right: 4%;
        top: 10%;
        background: rgba(255, 255, 255, 0.1); }
    .section-shaped .shape-style-1 :nth-child(3) {
        top: 280px;
        right: 5.66666%;
        background: rgba(255, 255, 255, 0.3); }
    .section-shaped .shape-style-1 :nth-child(4) {
        top: 320px;
        right: 7%;
        background: rgba(255, 255, 255, 0.15); }
    .section-shaped .shape-style-1 :nth-child(5) {
        top: 38%;
        left: 1%;
        right: auto;
        background: rgba(255, 255, 255, 0.05); }
    .section-shaped .shape-style-1 :nth-child(6) {
        width: 200px;
        height: 200px;
        top: 44%;
        left: 10%;
        right: auto;
        background: rgba(255, 255, 255, 0.15); }
    .section-shaped .shape-style-1 :nth-child(7) {
        bottom: 50%;
        right: 36%;
        background: rgba(255, 255, 255, 0.04); }
    .section-shaped .shape-style-1 :nth-child(8) {
        bottom: 70px;
        right: 2%;
        background: rgba(255, 255, 255, 0.2); }
    .section-shaped .shape-style-1 :nth-child(9) {
        bottom: 1%;
        right: 2%;
        background: rgba(255, 255, 255, 0.1); }
    .section-shaped .shape-style-1 :nth-child(10) {
        bottom: 1%;
        left: 1%;
        right: auto;
        background: rgba(255, 255, 255, 0.05); }
    @media (max-width: 991.98px) {
        .section-shaped .shape-style-1 span {
        height: 120px; } }
    @media (max-width: 767.98px) {
        .section-shaped .shape-style-1 span {
        height: 90px; } }
    .section-shaped .shape-style-1.shape-primary {
        background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%); }
    .section-shaped .shape-style-1.shape-default {
        background: linear-gradient(150deg, #7795f8 15%, #6772e5 70%, #555abf 94%); }
    .section-shaped .shape-style-1.shape-light {
        background: linear-gradient(150deg, shapes-light-color("step-1-gradient-bg") 15%, shapes-light-color("step-2-gradient-bg") 70%, shapes-light-color("step-3-gradient-bg") 94%); }
    .section-shaped .shape-style-1.shape-dark {
        background: linear-gradient(150deg, #32325d 15%, #32325d 70%, #32325d 94%); }
    .section-shaped .shape-style-2 span {
        height: 190px; }
    .section-shaped .shape-style-2 .span-sm {
        height: 100px; }
    .section-shaped .shape-style-2 :nth-child(1) {
        width: 33.33333%;
        top: 0;
        left: -16.66666%; }
    .section-shaped .shape-style-2 :nth-child(2) {
        width: 33.33333%;
        top: 0;
        left: 16.66666%;
        right: auto; }
    .section-shaped .shape-style-2 :nth-child(3) {
        width: 33.33333%;
        left: 49.99999%;
        bottom: auto; }
    .section-shaped .shape-style-2 :nth-child(4) {
        width: 33.33333%;
        top: 55%;
        right: -16.66666%; }
    .section-shaped .shape-style-2 :nth-child(5) {
        width: 33.33333%;
        bottom: 0; }
    @media (max-width: 991.98px) {
        .section-shaped .shape-style-2 span {
        height: 120px; } }
    @media (max-width: 767.98px) {
        .section-shaped .shape-style-2 span {
        height: 90px; } }
    .section-shaped .shape-style-3 span {
        height: 140px; }
    .section-shaped .shape-style-3 .span-sm {
        height: 100px; }
    .section-shaped .shape-style-3 :nth-child(1) {
        width: 66%;
        left: -16.66666%;
        bottom: auto; }
    .section-shaped .shape-style-3 :nth-child(2) {
        width: 40%;
        top: 54%;
        right: -16.66666%; }
    .section-shaped .shape-style-3 :nth-child(3) {
        width: 33.33333%;
        top: 34%;
        left: -16.66666%;
        right: auto; }
    .section-shaped .shape-style-3 :nth-child(4) {
        width: 60%;
        bottom: 0;
        right: -16.66666%;
        opacity: .6; }
    .section-shaped .shape-style-3 :nth-child(5) {
        width: 33.33333%;
        bottom: 0; }
    @media (max-width: 991.98px) {
        .section-shaped .shape-style-3 span {
        height: 120px; } }
    @media (max-width: 767.98px) {
        .section-shaped .shape-style-3 span {
        height: 90px; } }

.display-3 {
    font-size: 2.1875rem;
    font-weight: 600;
    line-height: 1.5; }

.btn-light {
    color: #ac3791;
    background-color: #fff;
    border-color: #fff;
    font-family: Acme;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); }
    .btn-light:hover {
      color: #ac3795;
      background-color: #fff;
      border-color: #fff; }
    .btn-light:focus, .btn-light.focus {
      box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08), 0 0 0 0 rgba(185, 192, 199, 0.5); }
    .btn-light.disabled, .btn-light:disabled {
      color: #ac3795;
      background-color: #fff;
      border-color: #fff; }
    .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
    .show > .btn-light.dropdown-toggle {
      color: #ac3795;
      background-color: #fff;
      border-color: #fff; }
      .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
      .show > .btn-light.dropdown-toggle:focus {
        box-shadow: 0 0 0 0 rgba(185, 192, 199, 0.5); }

.btn-dark {
    color: #fff;
    background-color: #ac3791;
    border-color: #ac3791;
    font-family: Acme;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); }
    .btn-dark:hover {
        color: #fff;
        background-color: #912e7d;
        border-color: #ac3791; }
    .btn-dark:focus, .btn-dark.focus {
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08), 0 0 0 0 rgba(185, 192, 199, 0.5); }
    .btn-dark.disabled, .btn-dark:disabled {
        color: #fff;
        background-color: #ac3795;
        border-color: #ac3795; }
    .btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
    .show > .btn-dark.dropdown-toggle {
        color: #fff;
        background-color: #ac3791;
        border-color: #ac3791; }
        .btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
        .show > .btn-dark.dropdown-toggle:focus {
        box-shadow: 0 0 0 0 rgba(64, 119, 175, 0.5); }

@media (min-width: 992px) {
    [class*="mt--"],
    [class*="mr--"],
    [class*="mb--"],
    [class*="ml--"] {
        position: relative;
        z-index: 5; }
    .mt--100 {
        margin-top: -100px !important; }
    .mr--100 {
        margin-right: -100px !important; }
    .mb--100 {
        margin-bottom: -100px !important; }
    .ml--100 {
        margin-left: -100px !important; }
    .mt--150 {
        margin-top: -150px !important; }
    .mb--150 {
        margin-bottom: -150px !important; }
    .mt--200 {
        margin-top: -200px !important; }
    .mb--200 {
        margin-bottom: -200px !important; }
    .mt--300 {
        margin-top: -300px !important; }
    .mb--300 {
        margin-bottom: -300px !important; }
    .pt-100 {
        padding-top: 100px !important; }
    .pb-50 {
        padding-bottom: 50px !important; }
    .pb-100 {
        padding-bottom: 100px !important; }
    .pt-150 {
        padding-top: 150px !important; }
    .pb-150 {
        padding-bottom: 150px !important; }
    .pt-200 {
        padding-top: 200px !important; }
    .pb-200 {
        padding-bottom: 200px !important; }
    .pt-250 {
        padding-top: 250px !important; }
    .pb-250 {
        padding-bottom: 250px !important; }
    .pt-300 {
        padding-top: 300px !important; }
    .pb-300 {
        padding-bottom: 300px !important; } }


.card {
    position: relative; }
    .card.card-plain {
        background: transparent;
        box-shadow: none;
        border: none; }

.card-lift--hover:hover {
    transform: translateY(-20px);
    transition: all 0.15s ease; }
    @media (prefers-reduced-motion: reduce) {
        .card-lift--hover:hover {
        transition: none; } }

.border {
    border: 0.0625rem solid #e9ecef !important; }
    
.border-top {
    border-top: 0.0625rem solid #e9ecef !important; }
    
.border-right {
    border-right: 0.0625rem solid #e9ecef !important; }
    
.border-bottom {
    border-bottom: 0.0625rem solid #e9ecef !important; }
    
.border-left {
    border-left: 0.0625rem solid #e9ecef !important; }
    
.border-0 {
    border: 0 !important; }


.icon {
    width: 3rem;
    height: 3rem; }
    .icon i, .icon svg {
        font-size: 2.25rem; }

.icon-shape {
    padding: 12px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; }
    .icon-shape i, .icon-shape svg {
        font-size: 1.25rem; }
    .icon-shape.icon-lg i, .icon-shape.icon-lg svg {
        font-size: 1.625rem; }
    .icon-shape.icon-sm i, .icon-shape.icon-sm svg {
        font-size: .875rem; }
    .icon-shape svg {
        width: 30px;
        height: 30px; }
    
    .icon-shape-primary {
    color: #2643e9;
    background-color: rgba(138, 152, 235, 0.5); }

.text-primary {
    color: #ac3971 !important; }
    
    a.text-primary:hover, a.text-primary:focus {
    color: #ac3975 !important; }

