.navbar-main {
  background-color: #AC3791;
}
  
.nav-text {
  color: white;
  font-family: 'Acme';
}

.nav-link {
  text-decoration: none;
  font-family: 'Acme';
}

.nav-link-inner--text {
  font-family: 'Acme';
  color: #AC3791;
}